In [2]:
import pandas as pd

In [15]:
raw_df = pd.read_excel('bundle_names_new.xlsx')
raw_df = pd.read_csv('bundle_to_cause_clinical.csv',usecols=['bundle_id','cause_name'])

raw_df.drop_duplicates(keep='first',inplace=True)
#raw_df.columns=['bundle_id','cause_name']
print(raw_df.columns)
print(len(raw_df))
raw_df.head(10)

Index(['bundle_id', 'cause_name'], dtype='object')
277

   bundle_id                    cause_name
0          1                  Tuberculosis
1          3            Diarrheal diseases
2         14         Clostridium difficile
3         17                 Typhoid fever
4         18             Paratyphoid fever
5         19  Lower respiratory infections
6         25  Upper respiratory infections
7         26                  Otitis media
8         27                  Otitis media
9         28                    Meningitis

In [21]:
	import pandas as pd

	raw_df = pd.read_csv('bundle_to_cause_clinical.csv',usecols=['bundle_id','cause_name'])
	#raw_df = pd.read_csv(filename,usecols=[bundle_id_column_name,disease_column_name])
	raw_df.drop_duplicates(keep='first',inplace=True)


	id_names = {}
	for i in range(len(raw_df)):

		bundle_id=raw_df.iloc[i]['bundle_id']
		name=raw_df.iloc[i]['cause_name']
		id_names[bundle_id]=name

In [24]:
id_names.keys()

dict_keys([1, 3, 14, 17, 18, 19, 25, 26, 27, 28, 44, 45, 46, 47, 49, 50, 53, 54, 60, 61, 64, 74, 75, 76, 77, 78, 80, 82, 92, 93, 94, 95, 96, 97, 98, 99, 104, 113, 114, 115, 116, 118, 119, 121, 122, 125, 126, 127, 128, 129, 130, 131, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 173, 174, 175, 176, 181, 182, 195, 196, 198, 199, 201, 202, 203, 204, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 248, 250, 255, 257, 258, 261, 262, 263, 265, 266, 267, 268, 271, 273, 274, 277, 278, 283, 291, 292, 293, 294, 327, 333, 334, 336, 338, 345, 354, 355, 356, 357, 358, 359, 360, 361, 363, 364, 365, 366, 367, 368, 369, 370, 371, 374, 396, 409, 422, 423, 429, 435, 436, 437, 438, 439, 440, 449, 451, 453, 454, 455, 456, 458, 484, 500, 502, 541, 542, 543, 544, 545, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 646, 661, 662, 663, 664, 667, 686, 687, 695, 696, 751, 752, 762, 763, 764, 765, 766, 833, 899, 1010, 1013, 2972, 2975, 2978, 2987, 2990, 2993, 2996, 3008, 3011, 3020, 3023, 3029, 3039, 3044, 3047, 3053, 3059, 3065, 3074, 3081, 3082, 3086, 3119, 3131, 3134, 3137, 3140, 3188, 3196, 3197, 3198, 3200, 3201, 3202, 3227, 3260, 3263, 3419])

In [165]:
bundle_id_name={}

for i in raw_df['bundle_id'].unique():
    
    bundle_id_name[i]=list(raw_df.loc[raw_df['bundle_id']==i]['bundle_name'])

In [167]:
bundle_id_name.keys()

dict_keys([0, 1, 3, 14, 17, 18, 19, 20, 25, 26, 27, 28, 45, 46, 47, 49, 50, 53, 54, 60, 61, 64, 74, 75, 77, 79, 80, 82, 92, 93, 94, 96, 97, 98, 99, 104, 113, 114, 115, 119, 121, 122, 125, 126, 127, 128, 129, 130, 131, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 173, 181, 182, 195, 196, 198, 199, 201, 202, 203, 204, 207, 209, 210, 211, 212, 213, 214, 217, 218, 219, 220, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 248, 250, 255, 257, 258, 261, 262, 263, 265, 266, 267, 268, 269, 271, 273, 274, 277, 278, 291, 292, 293, 294, 327, 328, 338, 345, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 374, 409, 422, 423, 429, 435, 436, 437, 438, 439, 440, 449, 451, 453, 454, 455, 456, 458, 484, 502, 541, 542, 604, 606, 610, 612, 614, 616, 618, 622, 624, 626, 630, 632, 634, 636, 638, 646, 695, 696, 751, 752, 762, 763, 764, 766, 799, 803, 808, 833, '_none'])

In [174]:
bundle_id_name[20]

['Lower respiratory infections']

----------------